<a href="https://colab.research.google.com/github/kingketan9/News_Detection/blob/main/News_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# News Classification

Dataset has been collected from Kaggle which contains news articles including their headlines and categories.

The categories covered in this dataset are:

*   Sports
*   Business
*   Politics
*   Technology 
*   Entertainment

**Count Vectorizer** is used to convert documents, text into vectors of term or token counts, it involves counting the number of occurences of words appears in a document.

The **multinomial Naive Bayes** classifier is suitable for classification with discrete features (e.g., word counts for text classification).

**train test split** is a model validation procedure that allows you to simulate how a model would perform on new/unseen data.

# Importing librarires

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer #Convert a collection of text documents to a matrix of token counts
from sklearn.model_selection import train_test_split # Split arrays or matrices into random train and test subsets
from sklearn.naive_bayes import MultinomialNB

data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/bbc-news-data.csv", sep='\t')
print(data.head())

   category filename                              title  \
0  business  001.txt  Ad sales boost Time Warner profit
1  business  002.txt   Dollar gains on Greenspan speech
2  business  003.txt  Yukos unit buyer faces loan claim
3  business  004.txt  High fuel prices hit BA's profits
4  business  005.txt  Pernod takeover talk lifts Domecq

                                             content
0   Quarterly profits at US media giant TimeWarne...
1   The dollar has hit its highest level against ...
2   The owners of embattled Russian oil giant Yuk...
3   British Airways has blamed high fuel prices f...
4   Shares in UK drinks and food firm Allied Dome...

# Check whether the dataste has any null values or not

In [ ]:
data.isnull().sum()

category    0
filename    0
title       0
content     0
dtype: int64

# Classifying the labels from this dataset

In [ ]:
data["category"].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

# Preparaing the data

**test_sizefloat or int, default=None**

If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split. If int, represents the absolute number of test samples. If None, the value is set to the complement of the train size. If train_size is also None, it will be set to 0.25.

**train_sizefloat or int, default=None**

If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the train split. If int, represents the absolute number of train samples. If None, the value is automatically set to the complement of the test size.

**random_stateint, RandomState instance or None, default=None**

Controls the shuffling applied to the data before applying the split. Pass an int for reproducible output across multiple function calls. See Glossary.

In [ ]:
data = data[['title', 'category']]

x = np.array(data['title'])
y = np.array(data['category'])

cv = CountVectorizer()
X = cv.fit_transform(x) # Transform documents to document-term matrix. 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state= 42)

# Train the News Classification model using the **Multinomial Naive Bayes** Algorithm

In [ ]:
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

# Testing the model

In [ ]:
user = input('Enter a text: ')
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a text: Latest Apple iPhone SE 3 concept renders show a compact smartphone in the style of the iPhone 4
['tech']